{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title fw-semibold mb-4">Manage Invoices</h5>

            <!-- Responsive Table -->
            <div class="card mt-4">
                <div class="card-body">
                    <h5 class="card-title fw-semibold mb-4">Invoices
                        <span><a href="{% url 'manage_invoices' %}"><i class="ti ti-refresh"></i></a></span>
                    </h5>
                    
                    <form method="get" class="mb-4">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search by customer/salesman/amount" name="q" value="{{ request.GET.q|default_if_none:'' }}">
                            <button class="btn btn-outline-primary" type="submit">Search</button>
                        </div>
                    </form>
                    {% if messages %}
                        <div class="alert-container">
                            {% for message in messages %}
                                <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                                    {{ message }}
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}

                    <div class="table-responsive">
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Invoice ID</th>
                                    <th scope="col">Customer</th>
                                    <th scope="col">Salesman</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Received Amount</th>
                                    <th scope="col">Remaining Amount</th>
                                    <th scope="col">Payment Status</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for invoice in invoices %}
                                <tr>
                                    <td>{{ invoice.id }}</td>
                                    <td>{{ invoice.customer_name }}</td>
                                    <td>{{ invoice.salesman }}</td>
                                    <td>₹{{ invoice.total_price }}</td>
                                    <td>₹{{ invoice.amount_received }}</td>
                                    <td>₹{{ invoice.amount_remaining}}</td>
                                    <td>
                                        {% if invoice.amount_received >= invoice.total_price %}
                                            <span class="badge bg-success">Paid</span>
                                        {% else %}
                                            <span class="badge bg-warning">Pending</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        <a href="{% url 'invoice_details' invoice.id %}" class="btn btn-info btn-sm">View</a>
                                    </td>
                                    <td><a href="{% url 'delete_invoice' invoice.id %}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete this invoice?');">Delete</a></td>
                                </tr>
                                {% empty %}
                                <tr>
                                    <td colspan="8" class="text-center">No invoices found</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
